
h1 {
  font-size:60px;
  font-family:"Ubuntu";
  font-weight:700;
}

body {
  background-color: black;
  color: #FF33E1;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 25px;
  padding: 15px;
}


a:link {
  color: #57f807;
  font-size: 25px;
  text-decoration: none;
}

a:visited {
  color: #57f807;
  text-decoration: none;
}

a:hover {
  color: #FF337B;
  text-decoration: none;
}

a:active {
  color: blue;
  text-decoration: none;
}


/* website page link code */
.site_nav {
  width: 30%;
  padding: 20px;
}
.site_nav li {
  float: left;
}
.site_nav ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 5px;
  padding: 5px;
}
.site_nav a {
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  float: right;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -700px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Six columns side by side */
.column {
  float: left;
  width: 12%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}


/*

pink
#FF33E1
255, 51, 225

hot pink
#FF337B
255, 51, 123

orange
#FF5133
255, 81, 51

muted orange
#FFB733
255, 183, 51

lime green
#E1FF33
225, 255, 51

green
#7BFF33
123, 255, 51

blue
#3344FF
51, 68, 255

pink
#FF33AA
255, 51, 170

yellow
#FFEE33
255, 238, 51

lt green
#33FF88
51, 255, 136

*/