
* {
   box-sizing: border-box;
 }

body {
  margin: 0;
}

/* meme gallery */
.meme_gallery {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-auto-rows: minmax(400px, 700px)
    repeat(auto-fit);
  gap: 10px;
}
.meme_gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* egirl gallery */
.egirl_gallery {
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-auto-rows: 500px
    repeat(auto-fit);
  gap: 10px;
}
.egirl_gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* scribble gallery */
.scribble_gallery {
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-auto-rows: minmax(400px, 700px)
    repeat(auto-fit);
  gap: 10px;
}
.scribble_gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* anything under 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* image link */
img {
  opacity: 1;
  filter: alpha(opacity=100);
  background: no-repeat;
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=30);
}


/*

pink
#FF33E1
255, 51, 225

hot pink
#FF337B
255, 51, 123

orange
#FF5133
255, 81, 51

muted orange
#FFB733
255, 183, 51

lime green
#E1FF33
225, 255, 51

green
#7BFF33
123, 255, 51

blue
#3344FF
51, 68, 255

pink
#FF33AA
255, 51, 170

yellow
#FFEE33
255, 238, 51

lt green
#33FF88
51, 255, 136

*/